@model SEE.PostfixAdmin.BackEnd.Common.Contracts.PasswordContract
@{
    ViewData["Title"] = "Password changed";
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p class="lead">Password changed</p><hr /></div></div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <form role="form" method="post" class="form-horizontal">
                @Html.AntiForgeryToken()
                <div class="panel panel-default">
                    <div class="panel-heading">Password changed</div>
                    <div class="panel-body">
                        Password for user <strong>@Model.UserName<span>@@</span>@Model.DomainName</strong> has been changed.
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a class="btn btn-default pull-right" asp-controller="Mailbox" asp-action="Details" asp-route-id="@Model.UserId">OK</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
